---
import PigImage from '../../images/pig.jpg'
import StaticOgImage from '../../components/StaticOgImage.astro'
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="noindex,nofollow" />
        <title>What I do</title>
    </head>
    <body style="margin:0">
        <StaticOgImage title="What I do" imageSrc={PigImage.src} />
    </body>
</html>
