---
import Me from '../images/me.jpg'
import PageLayout from "../layouts/PageLayout.astro"
import LinkButton from "../components/LinkButton.astro"
import Wroomer from "../components/Wroomer.astro"
---

<PageLayout>
	<h1>Imprint</h1>
    
    <div class="address">
        <p><strong>Thomas Meerpohl</strong></p>
        <p>Nieritz Straße 7</p>
        <p>01097 Dresden</p>
        <p>Germany</p>
    </div>

    <div class="contact">
        <p><a href="mailto:thomas.meerpohl@gmail.com">thomas.meerpohl@gmail.com</a></p>
        <p><a href="https://www.linkedin.com/in/thomas-meerpohl-0609b619b/">LinkedIn</a></p>
        <p><a href="https://www.freelancermap.de/profil/thomas-meerpohl">FreelancerMap</a></p>
        <p><a href="https://github.com/Achder">Github</a></p>
    </div>
</PageLayout>

<style>
    p {
        margin: 0;
        padding: 0;
        color: var(--dark)
    }

    .address, .contact {
        display: grid;
        gap: 0.3rem;
        margin-top: 0.5rem;
    }
</style>