---
import Me from '../images/me.webp'
import MePig from '../images/pig.jpg'
import PageLayout from '../layouts/PageLayout.astro'
import LinkButton from '../components/LinkButton.astro'
import Heading from '../components/Heading.astro'
import StyledLink from '../components/StyledLink.astro'
import { Image } from 'astro:assets'
---

<style>
    img {
        animation-iteration-count: infinite;
        animation-duration: 10s;
        animation-name: wobble;
        animation-direction: alternate;
    }

    @keyframes wobble {
        from {
            filter: hue-rotate(0deg);
        }

        to {
            filter: hue-rotate(30deg);
        }
    }
</style>

<PageLayout
    description="I'm Thomas Meerpohl, a freelancer based in Dresden, Germany. I'm a fullstack javascript web developer. I build websites, webapplications and mobile cross-plaform apps."
>
    <Heading type="h1" class="grid gap-2">
        <p class="text-3xl no-underline decoration-8">Hi, I'm your freelance developer</p>
        <p class="leading-none decoration-8">Thomas Meerpohl</p>
    </Heading>

    <section class="w-full text-2xl text-pretty grid gap-8">
        <Image
            id="profile"
            class="w-full aspect-square sm:aspect-2/1 object-cover shadow-2xl rounded-xs outline outline-4 -outline-offset-4 outline-color"
            src={Me}
            alt="A young and handsome Thomas Meerpohl"
            loading="eager"
        />

        <LinkButton
            href="mailto:thomas.meerpohl@gmail.com"
            class="w-full sm:w-auto flex items-center justify-center text-2xl"
        >
            <span class="text-[1.6em]">➪</span>Contact me<span class="text-[1.6em] rotate-180">➪</span>
        </LinkButton>
    </section>

    <section class="w-full text-xl text-pretty grid gap-10 justify-items-start about py-12 rounded-xs">
        <Heading type="h2">About me</Heading>

        <article>
            <p>I'm a full-stack developer from Dresden, Germany.</p>
            <p>
                My focus is on building applications <StyledLink href="/what">using web technologies</StyledLink>
            </p>
            <p>
                In my 8 years professional career, I have worked in large international SCRUM teams as well as small and
                highly dynamic startups.
            </p>
            <p>The products I helped develop are being used by thousands of users around the world.</p>
            <p>
                If you need assistance with your next project, feel free to <StyledLink
                    href="mailto:thomas.meerpohl@gmail.com">contact me</StyledLink
                > and I will provide you with a detailed CV.
            </p>
        </article>
    </section>
</PageLayout>
