---
import { Image } from 'astro:assets'
import Me from '../images/me.jpg'
import PageLayout from "../layouts/PageLayout.astro"
import LinkButton from "../components/LinkButton.astro"
import Wroomer from "../components/Wroomer.astro"
---

<PageLayout>
	<h1>
		<p>Hi, I'm</p>
		<Wroomer title="Thomas Meerpohl" class="wroomer"/>
	</h1>
	<Image id="profile" src={Me} width="736" height="368" alt="An image of me, Thomas Meerpohl"/>
	<LinkButton href="mailto:thomas.meerpohl@gmail.com" label="Contact me" />
	<div class="info">
		<p>
			I'm a freelance app developer by heart.
		</p>
		<p>
			I do web apps, cross platform mobile apps and everything between and beyond.
		</p>
	</div>
</PageLayout>

<style>
	#profile {
		width: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
		border: 2px solid var(--dark);
		border-radius: var(--border-radius);
	}

	.info {
		font-size: 1.5rem;
		text-wrap: pretty;
	}

	p {
		margin: 0;
		font-size: 1.5rem;
	}

	h1 {
		color: var(--dark);
		font-weight: 800;
		margin: 0;
		line-height: 1;
		text-wrap: balance;
	}

	h1 p {
		font-size: 2rem;
		width: 100%;
		line-height: 2;
	}

	.wroomer {
		font-size: calc(1rem + 8cqi);
		line-height: 0.9;
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.5ch;
	}

	@container(500px <= width < 650px) {
		.wroomer {
			font-size: calc(1rem + 13cqi);
		}
	}
	
	@container(width < 500px) {
		.wroomer {
			font-size: calc(1rem + 15cqi);
		}
	}
</style>