---
import LinkButton from "../components/LinkButton.astro"
import Wroomer from "../components/Wroomer.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta charset="utf-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap" rel="stylesheet">
	</head>

	<body>
		<nav class="page-nav">
			<a href="/index">Home</a>
			<a href="/snake">Play Snake</a>
		</nav>

		<nav class="social-nav">
			<a href="/index">
				<img src="/public/linkedin.svg"/>
			</a>
			<a href="/snake">
				<img src="/public/threads.svg"/>
			</a>
			<a href="/snake">
				<img src="/public/github.svg"/>
			</a>
		</nav>

		<main>
			<h1>
				<p>Hi, I'm</p>
				<Wroomer title="Thomas Meerpohl" class="wroomer"/>
			</h1>
			<img id="profile" src="/public/me.jpg">
			<LinkButton href="mailto:thomas.meerpohl@gmail.com" label="Contact me" />
			<div class="info">
				<p>
					I'm a freelance app developer by heart.
				</p>
				<p>
					I do web apps, cross platform mobile apps and everything between and beyond.
				</p>
			</div>
		</main>

		<footer>
			ⓒ Thomas Meerpohl 2023
			<a href="#">Impressum</a>
		</footer>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Rethink Sans";
		font-style: normal;
		font-weight: 400;
		src: url("/public/RethinkSans-Regular.woff2") format("woff2");
		font-display: swap;
	}

	@font-face {
		font-family: "Rethink Sans";
		font-style: normal;
		font-weight: 800;
		src: url("/public/RethinkSans-ExtraBold.woff2") format("woff2");
		font-display: swap;
	}

	*, *::after, *::before {
		box-sizing: border-box;
	}

	:root {
		--dark: #2c2c2c;
		--light: white;

		--duration: 2000ms;
		--ease-out-back: cubic-bezier(0.175, 0.885, 0.320, 1);
		--delay: calc(var(--duration) / 20);

		--max-offset: 0.5rem;
		--max-shadow-blur: 10px;
		--max-scale: 1.1;
		--final-offset: 0.5rem;
		--final-shadow-blur: 6px;
		--final-scale: 1;
		--shadow-color: rgba(0, 0, 0, 0.1);
		--max-shadow: 0px calc(var(--max-offset) + 0.5rem) var(--max-shadow-blur) var(--shadow-color);
		--final-shadow: 0px calc(var(--final-offset)) var(--final-shadow-blur) var(--shadow-color);
	}
</style>

<style>
	html, 
	body {
		margin: 0;
		padding: 0;
		font-family: 'Rethink Sans', sans-serif;
		font-weight: 400;
	}

	body {
		min-height: 100dvh;
		max-width: 768px;
		margin-inline: auto;
		padding: 1rem;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 
			'page-nav social-nav'
			'main main'
			'footer footer';
		align-content: start;

		container-name: body;
		container-type: inline-size;
	}

	.page-nav {
		grid-area: page-nav;
		display: flex;
		justify-content: start;
		gap: 1rem;
	}

	.social-nav {
		grid-area: social-nav;
		display: flex;
		justify-content: end;
		gap: 2rem;
	}

	a {
		color: var(--dark);
		display: flex;
		align-items: center;
		transition: all 100ms ease-in-out;
	}

	a:hover {
		color: deeppink;
	}

	main {
		grid-area: main;
		padding: calc(1rem + 5cqi) 0;
		display: grid;
		gap: calc(1rem + 1cqi);
		align-content: start;
		justify-items: start;
	}

	footer {
		grid-area: footer;
		justify-self: end;
		display: flex;
		gap: 1rem;
	}
	
	@container(max-width: 500px) {
		footer {
			justify-self: center;
		}
	}

	#profile {
		width: 100%;
		aspect-ratio: 2 / 1;
		object-fit: cover;
		border: 4px solid var(--dark);
	}

	.info {
		font-size: 1.5rem;
		text-wrap: pretty;
	}

	p {
		margin: 0;
		font-size: 1.5rem;
	}

	h1 {
		color: var(--dark);
		font-weight: 800;
		margin: 0;
		line-height: 1.2;
		text-wrap: balance;
	}

	h1 p {
		font-size: 2rem;
		width: 100%;
		margin: 1rem 0;
	}

	.wroomer {
		font-size: calc(1rem + 10cqi);
		line-height: 0.9;
		display: flex;
		flex-wrap: wrap;
		column-gap: 0.5ch;
	}

	@container(width > 650px) {
		.wroomer {
			font-size: calc(1rem + 10cqi);
		}
	}
	
	@container(500px <= width < 650px) {
		.wroomer {
			font-size: calc(1rem + 13cqi);
		}
	}
	
	@container(width < 500px) {
		.wroomer {
			font-size: calc(1rem + 15cqi);
		}
	}
</style>

<script>

</script>