---
import Slider from '../components/Slider.astro'
import Input from '../components/Input.astro'
import SvgPlayground from '../layouts/SvgPlayground.astro'
---

<SvgPlayground pageDescription="SVG sketching tool for generating downloadable abstract SVG forms" heading="Squaddle">
    <Fragment slot="controls">
        <Slider id="stride" min={0.1} max={6} value={3.75} name="Stride" step={0.01} />
        <Slider id="rotation" min={0} max={720} value={0} name="Rotation" />
        <Slider id="amplitude" min={-500} max={500} value={250} name="Amplitude" />
        <Slider id="amplitude-freq" min={1} max={10} value={2} step={0.1} name="Amplitude Frequency" />
        <Slider id="radius-x" min={5} max={300} value={220} name="Radius X" />
        <Slider id="radius-y" min={5} max={300} value={220} name="Radius Y" />
        <Slider id="radius-wobble" min={-100} max={100} value={0} name="Radius Wobble" />
        <Slider id="radius-freq" min={1} max={10} value={1} step={0.1} name="Radius Frequency" />
        <Slider id="stroke-width" min={0} max={10} step={0.1} value={1} name="Stroke Width" />

        <div class="grid grid-cols-3 gap-4">
            <Input type="color" id="fill-start" label="Fill Start" value="#2bff00" />
            <Input type="color" id="fill-mid" label="Fill Mid" value="#2bff00" />
            <Input type="color" id="fill-end" label="Fill End" value="#ff0000" />
            <Input type="color" id="stroke-start" label="Stroke Start" value="#00ff91" />
            <Input type="color" id="stroke-mid" label="Stroke Mid" value="#00ff91" />
            <Input type="color" id="stroke-end" label="Stroke End" value="#ffae00" />
        </div>

        <Slider id="bg-angle" min={0} max={360} value={360} name="Bg Angle" />
        <div class="grid grid-cols-2 md:grid-cols-2 sm:grid-cols-4 gap-4 sm:col-start-1 sm:col-end-3 md:col-end-1">
            <Input type="color" id="bg-start" label="Bg Start" value="#00ff40" />
            <Input type="color" id="bg-end" label="Bg End" value="#00ffbf" />
        </div>
    </Fragment>
</SvgPlayground>

<script>
    import { initInteractiveSvg, type Size, clear } from '../svg/svg'
    import { drawEllipse } from '../svg/ellipse'
    import { connect as connectControl, get } from '../utils/controls'
    import { drawRect } from '../svg/rect'
    import { createGradient } from '../svg/gradient'
    import Color from 'colorjs.io'
    import { mix } from '../utils/color'

    const init = (svg: HTMLElement, size: Size) => {
        const connect = (id: string) => {
            connectControl(id, () => render())
        }

        connect('stride')
        connect('amplitude')
        connect('amplitude-freq')
        connect('radius-x')
        connect('radius-y')
        connect('radius-wobble')
        connect('radius-freq')
        connect('fill-start')
        connect('fill-mid')
        connect('fill-end')
        connect('stroke-start')
        connect('stroke-mid')
        connect('stroke-end')
        connect('stroke-width')
        connect('bg-angle')
        connect('bg-start')
        connect('bg-end')
        connect('rotation')

        const render = () => {
            clear(svg)

            const radiusX = get<number>('radius-x')
            const radiusY = get<number>('radius-y')
            const rotation = get<number>('rotation')
            const radiusWobble = get<number>('radius-wobble')
            const radiusFreq = get<number>('radius-freq')
            const stride = get<number>('stride')
            const amplitude = get<number>('amplitude')
            const amplitudeFreq = get<number>('amplitude-freq')
            const fillStart = get<string>('fill-start')
            const fillMid = get<string>('fill-mid')
            const fillEnd = get<string>('fill-end')
            const strokeWidth = get<number>('stroke-width')
            const strokeStart = get<string>('stroke-start')
            const strokeMid = get<string>('stroke-mid')
            const strokeEnd = get<string>('stroke-end')
            const bgAngle = get<number>('bg-angle')
            const bgStart = get<string>('bg-start')
            const bgEnd = get<string>('bg-end')

            const steps = (size.h + radiusY) / stride
            const center = { x: size.w / 2, y: 0 }

            const fs = new Color(fillStart)
            const fm = new Color(fillMid)
            const fe = new Color(fillEnd)
            const ss = new Color(strokeStart)
            const sm = new Color(strokeMid)
            const se = new Color(strokeEnd)

            createGradient(svg, {
                id: 'bg-gradient',
                start: bgStart,
                end: bgEnd,
                angle: bgAngle,
            })

            drawRect(svg, {
                x: 0,
                y: 0,
                width: size.w,
                height: size.h,
                fill: 'url(#bg-gradient)',
            })

            for (let i = 0; i < steps; i++) {
                const t = i / steps
                const pi_t = t * Math.PI * 2
                const fill = mix(fs, fm, fe, t, 'lch')
                const stroke = mix(ss, sm, se, t, 'lch')

                drawEllipse(svg, {
                    x: center.x + Math.sin(pi_t * amplitudeFreq) * amplitude,
                    y: center.y,
                    radiusX: radiusX + Math.sin(pi_t * radiusFreq) * radiusWobble,
                    radiusY: radiusY + Math.sin(pi_t * radiusFreq) * radiusWobble,
                    fill: fill.to('srgb').toString({ format: 'hex' }),
                    stroke: stroke.to('srgb').toString({ format: 'hex' }),
                    strokeWidth: strokeWidth,
                    rotation: (t - 0.5) * rotation,
                })

                center.y += stride
            }
        }

        render()
    }

    initInteractiveSvg({
        init,
    })
</script>
