---
import PageLayout from "../layouts/PageLayout.astro"
import TechCard from "../components/TechCard.astro"
import Earth from "../components/icons/Earth.astro"
import Laptop from "../components/icons/Laptop.astro"
import Tablet from "../components/icons/Tablet.astro"
import Download from "../components/icons/Download.astro"
---

<PageLayout>
	<h2>
		What I do
	</h2>
	<section>
		<TechCard title="Web Apps" text="The default choice for lots of online services">
			<Earth/>
		</TechCard>
		<TechCard title="Desktop Apps" text="I create cross platform desktop apps using the established electron or it’s new competitor tauri">
			<Laptop/>
		</TechCard>
		<TechCard title="Mobile Hybrids" text="Mobile hybrid apps use webviews that run web technology. The capacitor runtime gives full control over mobile APIs">
			<Tablet/>
		</TechCard>
		<TechCard title="Progressive Web Apps" text="If you don’t need dedicated apps that access lower level system resources a progressive web app might be a good choice">
			<Download/>
		</TechCard>
	</section>
</PageLayout>

<style>
	section {
		display: grid;
		gap: 2rem;
	}
</style>