---
import Heading from './Heading.astro'
import StyledLink from './StyledLink.astro'

type Props = {
    class?: string
}

const { class: className } = Astro.props
---

<Heading type="h2">About me</Heading>

<article class:list={['grid gap-2 text-white', className]}>
    <p>I'm a full-stack developer from Dresden, Germany.</p>
    <p>
        My focus is on building applications <StyledLink href="/what">using web technologies</StyledLink>. In my
        freetime I like to code interactive SVG playgrounds that I use to create prints for friends and family.
    </p>
    <p>
        During my {new Date().getFullYear() - new Date(2016, 0).getFullYear()} years professional career, I have worked in
        large international Scrum teams as well as small and highly dynamic startups.
    </p>
    <p>The products I helped develop are being used by thousands of users around the world.</p>
</article>
