---
type Props = {
    id: string
    rounded?: boolean
    class?: string
}

const { id, rounded, class: className } = Astro.props
const { pathname } = Astro.url
---

<button
    id={id}
    class:list={[
        'px-8 py-3 font-bold text-md tracking-widest bg-dark hover:bg-brand text-brand hover:text-dark',
        className,
        {
            'rounded-sm': !rounded,
            'rounded-full': rounded,
        },
    ]}
    data-umami-event={`clicked ${id} on ${pathname}`}
>
    <slot />
</button>
