---
type Props = {
    class?: string
}

const { class: className } = Astro.props
---

<div class:list={['grid gap-3 bg-white/20 shadow-lg p-4 hover:bg-white/40 transition-colors rounded-sm', className]}>
    <slot />
</div>
