---
type Props = {
    label: string
} & astroHTML.JSX.InputHTMLAttributes

const { class: className, label, ...rest } = Astro.props
---

<label class:list={['text-lg grid gap-1 text-dark font-bold', className]}>
    {label}
    <input
        {...rest}
        class=`font-bold text-xl text-brand focus-within:text-dark focus-within:outline-0 focus-within:bg-brand w-full h-10 rounded-sm appearance-none checked:bg-brand bg-dark border-4 border-dark [&[type="text"]]:border-0 [&[type="text"]]:px-4 [&[type="text"]]:py-6`
    />
</label>
