---
type Props = {
    href: string
    class?: string
}

const { href, class: className, ...rest } = Astro.props
---

<a
    href={href}
    class:list={[
        className,
        'outline -outline-offset-4 outline-0 outline-color hover:outline-4 bg-dark rounded-sm text-brand hover:text-dark hover:bg-brand shadow-xl px-8 py-6 font-extrabold tracking-wider flex gap-4 whitespace-nowrap',
    ]}
    {...rest}
>
    <slot />
</a>

<style>
    @container (max-width: 500px) {
        a {
            width: 100%;
            text-align: center;
        }
    }
</style>
