---
type Props = {
    href: string
    class?: string
}

const { href, class: className, ...rest } = Astro.props
---

<a
    href={href}
    class:list={[
        className,
        'bg-dark rounded-full text-white px-6 md:px-10 py-4 md:py-6 font-extrabold tracking-wider flex gap-4 whitespace-nowrap shadow-md/30 hover:shadow-lg/50 shadow-black',
    ]}
    {...rest}
>
    <slot />
</a>
