---
type Props = {
    href: string
    class?: string
}

const { href, class: className, ...rest } = Astro.props
---

<a
    href={href}
    class:list={[
        className,
        'bg-black rounded-sm text-white hover:bg-fuchsia-500 hover:text-white shadow-xl transition-all px-8 py-6 font-extrabold tracking-wider flex gap-4 whitespace-nowrap',
    ]}
    {...rest}
>
    <slot />
</a>

<style>
    @container (max-width: 500px) {
        a {
            width: 100%;
            text-align: center;
        }
    }
</style>
