---

const { label, href } = Astro.props

---

<style>
	a {
    display: inline-block;
		background-color: var(--dark);
		padding: 1.5rem 4rem;
		color: var(--light);
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 800;
		transition: all 100ms ease-in-out;
    letter-spacing: 1px;
	}

	a:hover {
		color: var(--light);
		background-color: var(--pink);
		box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
	}
	
	@container(max-width: 500px) {
		a {
			width: 100%;
      text-align: center;
		}
	}
</style>

<a href={href}>
  {label}
</a>