---
import Button from './Button.astro'
import StyledLink from './StyledLink.astro'
import Menu from './icons/Menu.astro'
import Close from './icons/Close.astro'

type Props = {
    class?: string
}

const { class: className, ...rest } = Astro.props
---

<div>
    <button id="menu" class="py-4 sm:hidden flex gap-4 text-4xl font-bold items-center">
        <span id="menu-icon"><Menu /></span>
        <span id="close-icon" class="hidden"><Close /></span>
    </button>
    <nav
        id="page-nav"
        class:list={[
            className,
            'flex-col hidden sm:flex sm:flex-row justify-start gap-4 sm:gap-6 pl-4 pb-8 sm:px-0 sm:py-4 absolute sm:static z-50 left-0 right-0 text-xl sm:text-base shadow-xl sm:shadow-none',
        ]}
    >
        <StyledLink href="/">Home</StyledLink>
        <StyledLink href="/what"> What I do</StyledLink>
        <!-- <StyledLink href="/snake">Ssssnake</StyledLink> -->
        <StyledLink
            href="/squaddle?stride=3.82&amplitude=239&amplitude-freq=1&radius-x=121&radius-y=300&radius-wobble=-31&radius-freq=1&fill-start=%23e1ff00&fill-mid=%237300ff&fill-end=%23ff0000&fill-alpha=0.03&stroke-start=%23ffae00&stroke-mid=%230011ff&stroke-end=%23ffea00&stroke-width=1.3&stroke-alpha=0.68&color-space=hwb&bg-angle=0&bg-start=%23000000&bg-end=%23000000&rotation=400"
            >Squaddle
        </StyledLink>
        <StyledLink
            href="/meta-balls?min-threshold=-0.076&max-threshold=0.06&resolution=13&iso-levels=52&stroke-width=2.2&fill-start=%23ffea00&fill-mid=%23bb00ff&fill-end=%23000000&stroke-start=%23fff700&stroke-mid=%23b800eb&stroke-end=%23000000&balls=%5B%7B%22x%22%3A486%2C%22y%22%3A439%2C%22radius%22%3A4232.81472224459%7D%2C%7B%22x%22%3A485%2C%22y%22%3A881%2C%22radius%22%3A3183.4431888056524%7D%2C%7B%22x%22%3A594%2C%22y%22%3A771%2C%22radius%22%3A-4163.980912161831%7D%2C%7B%22x%22%3A186%2C%22y%22%3A1403%2C%22radius%22%3A-4725.501975214774%7D%2C%7B%22x%22%3A945%2C%22y%22%3A10%2C%22radius%22%3A-4873.924446463103%7D%5D"
            >Metaballs</StyledLink
        >
        <StyledLink href="/swirly">Swirly</StyledLink>
        <StyledLink href="/wordy">Wordy</StyledLink>
    </nav>
</div>

<script>
    const pageNav = document.getElementById('page-nav')!
    const menuButton = document.getElementById('menu')!
    const menuIcon = document.getElementById('menu-icon')!
    const closeIcon = document.getElementById('close-icon')!

    menuButton.addEventListener('click', () => {
        pageNav.classList.toggle('hidden')
        pageNav.classList.toggle('flex')
        menuIcon.classList.toggle('hidden')
        closeIcon.classList.toggle('hidden')
    })
</script>
