---
type Props = {
  class?: string
}

const { class: className, ...rest } = Astro.props
---

<nav class:list={["page-nav", className]} {...rest}>
  <a href="/" data-astro-prefetch="viewport">Home</a>
  <a href="/snake" data-astro-prefetch="viewport">Play Snake</a>
</nav>

<style>
  .page-nav {
    display: flex;
    justify-content: start;
    gap: 1rem;
    padding: 1rem 0;
    background-color: var(--light);
  }
</style>