---
import StyledLink from './StyledLink.astro'
import Menu from './icons/Menu.astro'
import Close from './icons/Close.astro'
import Logo from '../components/icons/Logo.astro'

type Props = {
    class?: string
}

const { class: className } = Astro.props
---

<div class="z-50">
    <div class="flex relative z-20">
        <button id="menu" class="py-4 sm:hidden flex gap-4 text-4xl font-bold items-center" aria-label="Main menu">
            <span id="menu-icon"><Menu /></span>
            <span id="close-icon" class="hidden"><Close /></span>
        </button>
    </div>
    <nav
        id="page-nav"
        class:list={[
            className,
            'flex-col hidden items-center sm:flex sm:flex-row border-dark border-b-8 sm:border-0 justify-start gap-4 sm:gap-6 pl-4 pb-8 sm:px-0 sm:py-8 absolute sm:static z-10 left-0 right-0 text-xl sm:text-base shadow-xl sm:shadow-none bg-brand',
        ]}
    >
        <StyledLink href="/">
            <Logo />
        </StyledLink>
        <StyledLink href="/what"> What I do</StyledLink>
        <StyledLink href="/squaddle">Squaddle </StyledLink>
        <StyledLink
            href="/meta-balls?min-threshold=-0.054&max-threshold=0.061&resolution=0.0415&iso-levels=100&stroke-width=2.2&fill-start=%2523ffc800&fill-mid=%2523ff0000&fill-end=%252312001f&stroke-start=%23fff700&stroke-mid=%23b800eb&stroke-end=%23000000&balls=%255B%257B%2522x%2522%253A434%252C%2522y%2522%253A469.00091342534506%252C%2522radius%2522%253A4232.81472224459%257D%252C%257B%2522x%2522%253A485%252C%2522y%2522%253A881.0000627352572%252C%2522radius%2522%253A3183.4431888056524%257D%252C%257B%2522x%2522%253A594%252C%2522y%2522%253A771.0007979924717%252C%2522radius%2522%253A-4163.980912161831%257D%252C%257B%2522x%2522%253A186%252C%2522y%2522%253A1403.0002509410288%252C%2522radius%2522%253A-4725.501975214774%257D%252C%257B%2522x%2522%253A945%252C%2522y%2522%253A9.999126725219572%252C%2522radius%2522%253A-4873.924446463103%257D%252C%257B%2522x%2522%253A0.31560283687943264%252C%2522y%2522%253A1.2135207026348809%252C%2522radius%2522%253A0.7472224639448626%257D%252C%257B%2522x%2522%253A0.7801418439716312%252C%2522y%2522%253A0.8569159347553326%252C%2522radius%2522%253A-0.9408659170687433%257D%252C%257B%2522x%2522%253A0.1276595744680851%252C%2522y%2522%253A0.06032120451693852%252C%2522radius%2522%253A-0.09964753211457122%257D%252C%257B%2522x%2522%253A0.8262411347517731%252C%2522y%2522%253A0.34063739021329986%252C%2522radius%2522%253A0.5336042778399835%257D%252C%257B%2522x%2522%253A0.07092198581560284%252C%2522y%2522%253A0.791272271016311%252C%2522radius%2522%253A-0.09813380419584605%257D%252C%257B%2522x%2522%253A0.5851063829787234%252C%2522y%2522%253A0.8036913425345042%252C%2522radius%2522%253A0.23446259894957294%257D%255D&falloff=18"
            >Metaballs</StyledLink
        >
        <StyledLink href="/swirly">Swirly</StyledLink>
        <StyledLink href="/wordy">Wordy</StyledLink>
    </nav>
</div>

<script>
    import { gsap } from 'gsap'

    const pageNav = document.getElementById('page-nav')!
    const menuButton = document.getElementById('menu')!
    const menuIcon = document.getElementById('menu-icon')!
    const closeIcon = document.getElementById('close-icon')!

    menuButton.addEventListener('click', () => {
        if (pageNav.classList.contains('hidden')) {
            gsap.fromTo(
                '#page-nav',
                {
                    y: '-100%',
                },
                {
                    opacity: 1,
                    y: 0,
                    ease: 'power4.out',
                    duration: 0.6,
                    onComplete: () => {},
                }
            )
        }

        pageNav.classList.toggle('hidden')
        pageNav.classList.toggle('flex')
        menuIcon.classList.toggle('hidden')
        closeIcon.classList.toggle('hidden')
    })
</script>
