---
import StyledLink from './StyledLink.astro'

type Props = {
    class?: string
}

const { class: className, ...rest } = Astro.props
---

<nav class:list={[className]}>
    <StyledLink href="/">Home</StyledLink>
    <StyledLink href="/what"> What I do</StyledLink>
    <StyledLink href="/snake">Ssssnake</StyledLink>
    <StyledLink href="/squaddle">Squaddle</StyledLink>
    <StyledLink href="/snizzle">Snizzle</StyledLink>
</nav>
