---
import StyledLink from './StyledLink.astro'
import Github from './icons/Github.astro'
import LinkedIn from './icons/LinkedIn.astro'
import Threads from './icons/Threads.astro'

type Props = {
    class?: string
}

const { class: className, ...rest } = Astro.props
---

<nav class:list={[className]}>
    <StyledLink href="/">Home</StyledLink>
    <StyledLink href="/what"> What I do</StyledLink>
    <StyledLink href="/snake">Ssssnake</StyledLink>
    <StyledLink href="/squaddle">Squaddle</StyledLink>
</nav>
