---
import StyledLink from './StyledLink.astro'
import Menu from './icons/Menu.astro'
import Close from './icons/Close.astro'
import Logo from '../components/icons/Logo.astro'

type Props = {
    class?: string
}

const { class: className } = Astro.props
---

<div class="z-50">
    <div class="flex relative z-20">
        <button id="menu" class="py-4 sm:hidden flex gap-4 text-4xl font-bold items-center" aria-label="Main menu">
            <span id="menu-icon"><Menu /></span>
            <span id="close-icon" class="hidden"><Close /></span>
        </button>
    </div>
    <nav
        id="page-nav"
        class:list={[
            className,
            'flex-col hidden items-center sm:flex sm:flex-row border-dark border-b-8 sm:border-0 justify-start gap-4 sm:gap-6 pl-4 pb-8 sm:px-0 sm:py-8 absolute sm:static z-10 left-0 right-0 text-xl sm:text-base shadow-xl sm:shadow-none bg-brand',
        ]}
    >
        <StyledLink href="/">
            <Logo />
        </StyledLink>
        <StyledLink href="/what"> What I do</StyledLink>
        <StyledLink href="/v2/squaddle">Squaddle </StyledLink>
        <StyledLink href="/v2/meta-balls">Metaballs</StyledLink>
        <StyledLink href="/v2/swirly">Swirly</StyledLink>
        <StyledLink href="/v2/wordy">Wordy</StyledLink>
        <StyledLink href="/v2/grid">Grid</StyledLink>
    </nav>
</div>

<script>
    import { gsap } from 'gsap'

    const pageNav = document.getElementById('page-nav')!
    const menuButton = document.getElementById('menu')!
    const menuIcon = document.getElementById('menu-icon')!
    const closeIcon = document.getElementById('close-icon')!

    menuButton.addEventListener('click', () => {
        if (pageNav.classList.contains('hidden')) {
            gsap.fromTo(
                '#page-nav',
                {
                    y: '-100%',
                },
                {
                    opacity: 1,
                    y: 0,
                    ease: 'power4.out',
                    duration: 0.6,
                    onComplete: () => {},
                }
            )
        }

        pageNav.classList.toggle('hidden')
        pageNav.classList.toggle('flex')
        menuIcon.classList.toggle('hidden')
        closeIcon.classList.toggle('hidden')
    })
</script>
