---
type Props = {
    id: string
    label: string
    rounded?: boolean
    class?: string
}

const { id, label, rounded, class: className } = Astro.props
const { pathname } = Astro.url
---

<label class:list={['font-bold grid gap-1 text-dark text-xl', className]}>
    {label}
    <select
        id={id}
        class:list={[
            'appearance-none px-4 py-3 font-bold text-md tracking-widest bg-dark hover:bg-brand text-brand hover:text-dark focus-within:outline-0',
            {
                'rounded-xs': !rounded,
                'rounded-full': rounded,
            },
        ]}
        data-umami-event={`changed ${label} on ${pathname}`}
    >
        <slot />
    </select>
</label>
