---
import StyledLink from './StyledLink.astro'
import Github from './icons/Github.astro'
import LinkedIn from './icons/LinkedIn.astro'
import Threads from './icons/Threads.astro'

type Props = {
    class?: string
}

const { class: className, ...rest } = Astro.props
---

<nav class:list={[className]} {...rest}>
    <StyledLink href="https://www.linkedin.com/in/thomas-meerpohl-0609b619b/">
        <LinkedIn />
    </StyledLink>
    <StyledLink href="https://www.threads.net/@serranoschinken">
        <Threads />
    </StyledLink>
    <StyledLink href="https://github.com/Achder">
        <Github />
    </StyledLink>
</nav>
