---
type Props = {
    href: string
    label: string
    class?: string
}

const { href, label, class: className, ...rest } = Astro.props
---

<a
    href={href}
    aria-label={label}
    class:list={[
        className,
        'transition-all hover:text-fuchsia-500 underline underline-offset-2 whitespace-nowrap',
    ]}
    {...rest}
>
    <p class="font-"></p>
    <slot />
</a>
