---
type Props = {
    href: string
    class?: string
}

const { href, class: className, ...rest } = Astro.props
---

<a
    href={href}
    class:list={[
        className,
        'hover:text-front underline underline-offset-2 hover:no-underline hover:scale-110 whitespace-nowrap font-bold',
    ]}
    {...rest}
>
    <slot />
</a>
