---
type Props = {
    title: string
    text: string
}

const { title, text } = Astro.props
---

<div
    class="grid grid-cols-[auto_1fr] grid-row-[auto_1fr] items-start content-start gap-x-8 [&>svg]:w-16 [&>svg]:h-16 [&>svg]:row-span-2 [&>svg]:self-center hover:text-fuchsia-500"
>
    <slot />
    <h3 class="text-2xl font-bold">{title}</h3>
    <p class="text-xl">{text}</p>
</div>
