---
import StyledLink from '../components/StyledLink.astro'
import SocialNav from '../components/SocialNav.astro'
import PageNav from '../components/PageNav.astro'
import '../app.css'
import Logo from '../components/icons/Logo.astro'

type Props = {
    description: string
}

const { description } = Astro.props
const isProduction = import.meta.env.MODE === 'production'
---

<!doctype html>
<html lang="en" class="snap-y snap-mandatory overflow-x-clip bg-dark" style={{ scrollbarGutter: 'stable' }}>
    <head>
        <title>Homepage Thomas Meerpohl</title>

        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <meta name="theme-color" content="#000" media="(prefers-color-scheme: light)" />

        <meta property="og:title" content="Freelancer Thomas Meerpohl" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://meerpohl.dev" />
        <meta property="og:image" content={`/api/og-image?url=${encodeURIComponent(Astro.request.url)}`} />
        <meta property="og:description" content={description} />

        {
            isProduction && (
                <>
                    <script
                        defer
                        src="https://analytics.meerpohl.dev/script.js"
                        data-website-id="21f2d5b2-a302-478b-99a3-d117bd334e5f"
                    />
                </>
            )
        }

        <link rel="preload" href="/fonts/RethinkSans-Regular.woff2" as="font" type="font/woff2" crossorigin="" />
        <link rel="preload" href="/fonts/RethinkSans-ExtraBold.woff2" as="font" type="font/woff2" crossorigin="" />
        <slot name="head" />
    </head>

    <body class="tracking-wider font-rethink font-normal bg-dark text-dark">
        <div class="color-wrapper bg-brand sm:outline-8 sm:-outline-offset-8 sm:outline-dark px-2">
            <div class="body-wrapper min-h-dvh max-w-5xl mx-auto px-2 py-1">
                <div class="flex justify-between items-center gap-4">
                    <PageNav />
                    <SocialNav class="justify-end gap-8 py-8 hidden sm:flex" />
                </div>

                <main class="py-4 grid content-start justify-items-start gap-10">
                    <slot />
                </main>

                <SocialNav class="flex justify-center gap-8 py-4 sm:hidden" />

                <footer class="flex gap-4 py-4 justify-center justify-self-end sm:justify-end">
                    ⓒ Thomas Meerpohl {new Date().getFullYear()}
                    <StyledLink href="/imprint">Imprint</StyledLink>
                </footer>
            </div>
        </div>
    </body>
</html>

<style is:global>
    @font-face {
        font-family: 'Rethink Sans';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/RethinkSans-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Rethink Sans';
        font-style: normal;
        font-weight: 800;
        src: url('/fonts/RethinkSans-ExtraBold.woff2') format('woff2');
    }

    ::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    ::-webkit-color-swatch {
        border: 0;
        border-radius: 0;
    }

    ::-moz-color-swatch,
    ::-moz-focus-inner {
        border: 0;
    }

    ::-moz-focus-inner {
        padding: 0;
    }
</style>
