---
import StyledLink from '../components/StyledLink.astro'
import SocialNav from '../components/SocialNav.astro'
import PageNav from '../components/PageNav.astro'

type Props = {
    description: string
}

const { description } = Astro.props
---

<!doctype html>
<html
    lang="en"
    class="snap-y snap-mandatory overflow-x-clip"
    style={{ scrollbarGutter: 'stable' }}
>
    <head>
        <title>Homepage Thomas Meerpohl</title>

        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        <script
            defer
            src="https://analytics.meerpohl.dev/script.js"
            data-website-id="21f2d5b2-a302-478b-99a3-d117bd334e5f"></script>

        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link
            rel="preload"
            href="/fonts/RethinkSans-Regular.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
        <link
            rel="preload"
            href="/fonts/RethinkSans-ExtraBold.woff2"
            as="font"
            type="font/woff2"
            crossorigin=""
        />
    </head>

    <body class="font-rethink font-normal bg-white text-black">
        <div class="body-wrapper min-h-dvh max-w-4xl mx-auto px-4 py-1">
            <div class="flex justify-between gap-4">
                <PageNav class="flex justify-start gap-6 py-4" />
                <SocialNav class="justify-end gap-8 py-4 hidden sm:flex" />
            </div>

            <main class="py-4 grid content-start justify-items-start gap-8">
                <slot />
            </main>

            <SocialNav class="flex justify-center gap-8 py-4 sm:hidden" />

            <footer
                class="flex gap-4 py-4 justify-center justify-self-end sm:justify-end"
            >
                ⓒ Thomas Meerpohl 2023
                <StyledLink href="/imprint">Imprint</StyledLink>
            </footer>
        </div>
    </body>
</html>

<style is:global>
    @font-face {
        font-family: 'Rethink Sans';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/RethinkSans-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Rethink Sans';
        font-style: normal;
        font-weight: 800;
        src: url('/fonts/RethinkSans-ExtraBold.woff2') format('woff2');
    }
</style>

<script>
    import { polyfill } from 'seamless-scroll-polyfill'
    polyfill()
</script>
