---
import Button from '../components/Button.astro'
import PageLayout from './PageLayout.astro'
import Heading from '../components/Heading.astro'
import ControlSection from '../components/ControlSection.astro'
import Select from '../components/Select.astro'

type Props = {
    pageDescription: string
    heading: string
}

const { pageDescription, heading } = Astro.props
---

<PageLayout description={pageDescription}>
    <slot name="head" slot="head" />
    <section class="px-4 sm:px-10 grid gap-10 w-full max-w-350">
        <Heading type="h1">{heading}</Heading>

        <div class="grid gap-4 lg:grid-cols-[1fr_auto]">
            <div id="svg-controls" class="grid content-start gap-2 rounded-xs">
                <slot name="controls" />

                <ControlSection>
                    <Select id="color-space" label="Color Space" class="col-span-3">
                        <option value="lch">LCH</option>
                        <option value="acescc">ACEScc</option>
                        <option value="a98rgb">Adobe 98 RGB</option>
                        <option value="hpluv">HPLuv</option>
                        <option value="hsl">HSL</option>
                        <option value="hsluv">HSLuv</option>
                        <option value="hwb" selected>HWB</option>
                        <option value="ictcp">ICTCQ</option>
                        <option value="jzczhz">JzCzHz</option>
                        <option value="lab">LAB</option>
                        <option value="oklch">Oklch</option>
                        <option value="p3">P3</option>
                        <option value="prophoto">ProPhoto</option>
                        <option value="rec2020">REC.2020</option>
                        <option value="rec2100hlg">REC.2100-HLG</option>
                        <option value="rec2100pq">REC.2100-PQ</option>
                    </Select>

                    <Select id="proof" label="Soft Proofing" class="col-span-3">
                        <option value="regular" selected>regular</option>
                        <option value="proof">soft-proof</option>
                    </Select>
                </ControlSection>

                <ControlSection>
                    <div class="grid grid-cols-2 gap-4">
                        <Button id="undo">Undo</Button>
                        <Button id="redo">Redo</Button>
                    </div>
                    <Button id="save" class="sm:justify-self-end sm:col-start-1 sm:col-end-3 md:col-end-1 md:w-full"
                        >Save svg</Button
                    >
                </ControlSection>
            </div>

            <div class="aspect-[1/1.414] box-border h-[calc(100dvh-16px)] sticky top-[8px]">
                <section
                    id="container"
                    class="h-full w-full shadow-lg relative overflow-clip outline-4 -outline-offset-4 outline-color rounded-sm"
                >
                    <svg id="svg" class="w-full" xmlns="http://www.w3.org/2000/svg"></svg>
                </section>
            </div>
        </div>
    </section>
</PageLayout>

<script>
    import { fadeIn } from '../utils/animation'

    fadeIn('.playground > *', '.playground', { startOffset: 100 })
</script>
