---
import Button from '../components/Button.astro'
import PageLayout from './PageLayout.astro'
import Heading from '../components/Heading.astro'

type Props = {
    pageDescription: string
    heading: string
}

const { pageDescription, heading } = Astro.props
---

<PageLayout description={pageDescription}>
    <slot name="head" slot="head" />

    <Heading type="h1">{heading}</Heading>

    <div class="justify-self-stretch relative grid gap-10">
        <div
            class="grid content-start gap-4 origin-top-left rounded-sm sm:grid-cols-2 md:grid-cols-1 md:absolute md:top-2 md:left-2 md:scale-[0.6] z-10 md:w-[40ch] md:p-6 md:bg-white/20 dark:md:bg-slate-900/20 transition-all backdrop-blur-sm md:shadow-2xl"
        >
            <slot name="controls" />
            <div class="grid grid-cols-2 gap-4">
                <Button id="undo">Undo</Button>
                <Button id="redo">Redo</Button>
            </div>
            <Button id="save" class="sm:justify-self-end sm:col-start-1 sm:col-end-3 md:col-end-1 md:w-full"
                >Save svg</Button
            >
        </div>

        <div class="w-full aspect-[1/2] md:aspect-[1/1.414] relative box-border">
            <section id="container" class="h-full w-full shadow-2xl relative overflow-clip">
                <svg id="svg" class="w-full" xmlns="http://www.w3.org/2000/svg"></svg>
            </section>
        </div>
    </div>
</PageLayout>
