---
import Button from '../components/Button.astro'
import PageLayout from './PageLayout.astro'
import Heading from '../components/Heading.astro'
import ControlSection from '../components/ControlSection.astro'

type Props = {
    pageDescription: string
    heading: string
}

const { pageDescription, heading } = Astro.props
---

<PageLayout description={pageDescription}>
    <section class="px-4 sm:px-10 grid gap-10 w-full max-w-400">
        <slot name="head" slot="head" />

        <Heading type="h1">{heading}</Heading>

        <div class="grid gap-8 lg:grid-cols-[300px_minmax(0,1fr)]">
            <div id="svg-controls" class="grid content-start gap-2 rounded-xs lg:grid-cols-1">
                <slot name="controls" />

                <ControlSection>
                    <div class="grid grid-cols-2 gap-4">
                        <Button id="undo">Undo</Button>
                        <Button id="redo">Redo</Button>
                    </div>
                    <Button id="save" class="sm:justify-self-end sm:col-start-1 sm:col-end-3 md:col-end-1 md:w-full"
                        >Save svg</Button
                    >
                </ControlSection>
            </div>

            <div class="aspect-[1/1.414] relative box-border">
                <section
                    id="container"
                    class="h-full w-full shadow-lg relative overflow-clip outline-4 -outline-offset-4 outline-color rounded-sm"
                >
                    <svg id="svg" class="w-full" xmlns="http://www.w3.org/2000/svg"></svg>
                </section>
            </div>
        </div>
    </section>
</PageLayout>
